#branches-list {
  .MuiPaper-root {
    padding: 24px;
  }
}

#branches-create {
  .MuiPaper-root {
    padding: 24px;
  }
}

.branch-details-modal {
  .branch-name {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .branch-address {
    margin-bottom: 8px;
  }
  .branch-to {
    margin-bottom: 8px;
  }
}