.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fc;
  }
  
  .forgot-password-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    width: 500px;
    border: 2px solid #ccc;
  }
  
  .forgot-password-icon img {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  
  .forgot-password-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .forgot-password-card .forgot-password-form a {
    text-decoration: none !important;
   color: #ffffff !important;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  }

  .forgot-password-card .forgot-password-form a:hover {
    transform: scale(1.03);
    font-weight: bold;

  }
  
  
  
  .forgot-password-card p {
    font-size: 14px;
    color: #6b6b6b;
    margin-bottom: 30px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-form label {
    text-align: left;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
  }
  
  .forgot-password-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .reset-password-btn {
    background-color: #0b3a07;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .reset-password-btn:hover {
    background-color: #aebe44;
  }
  
  .back-to-login {
    display: block;
    margin-top: 20px;
    color: #6a3cff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }
  