#nav-topbar {
  position: fixed;
  z-index: 1100;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    color: white;

    .profile-holder {
      display: flex;

      .avatar {
        width: 48px;
        margin-right: 8px;
      }

      .name,
      .email {
        color: black;
      }

      .name {
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 992px) {
  #nav-topbar {
    margin-left: 256px;
    width: calc(100% - 256px);
  }
}
