#tickets-list {
  .MuiPaper-root {
    padding: 24px;

    .mui-btn {
      &-create {
        margin-right: 8px;
      }
    }
  }
}


#tickets-create {
  padding-bottom: 64px;

  .MuiPaper-root {
    padding: 24px;

    .mui-btn {
      &-category {
        margin-right: 8px;
      }
    }
  }
}
