#resources-index {
  padding-bottom: 64px;

  .MuiPaper-root {
    padding: 24px;

    .MuiCard-root {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 128px;
      background-color: var(--lime600);
      box-shadow: none;
      border: none;
      text-decoration: none;

      .card-title {
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}

#resources-list {
  padding-bottom: 64px;

  .MuiPaper-root {
    padding: 24px;
  }
}

#resources-create {
  padding-bottom: 64px;

  .MuiPaper-root {
    padding: 24px;
  }
}

#resources-read {
  padding-bottom: 64px;

  .MuiPaper-root {
    padding: 24px;

    .mui-btn {
      &-edit {
        margin-right: 8px;
      }
    }
  }
}

.lg-backdrop,
.lg-outer {
  z-index: 1200 !important;
}

#resources-update {
  padding-bottom: 64px;

  .MuiPaper-root {
    padding: 24px;
  }
}


