#login {
  height: 100%;

  .green-circle {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0 0 80% 0;
    background-color: var(--lime500);
    animation: slideDown 1s ease-out;
    transform: translateY(-100%);
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .login-image {
    width: 100%;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .login-holder {
    display: flex;
    height: 100%;
    padding: 24px;
    background-color: white;
  }
}

@media (min-width: 992px) {
  #login {
    display: flex;

    .left-panel {
      display: flex;
      align-items: center;
    }
    .green-circle {
      width: 50%;
    }

    .login-holder {
      align-items: center;
      padding: 64px;
      height: calc(100% - 128px);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
