h5.card-title {
  font-size: 24px;
  margin-bottom: 0px;
}
.author-card {
  font-size: 11px;
  color: #a5a5a5 !important;
}
.resources-card .card {
  background-position: center;
  background-size: 178%;
  box-shadow: inset 0 0 0 2000px rgb(2 2 2 / 71%);
  height: 100%;
}
.resources-card .card-text {
  font-size: 12px;
  color: #e9e9e9;
}
.resources-card .card-body {
  color: aliceblue;
  padding: 14px 6px;
}
img.video_play_icon,
.images_outline,
.filetype_pdf {
  width: 26%;
  padding: 10px;
  opacity: 0.7;
  transform: rotate(45deg);
}
.contentBadgeCard {
  display: block;
  background: #ffffff87;
  transform: rotate(314deg);
  position: absolute;
  bottom: 72%;
  right: -56%;
}
.resources-card {
  min-height: 260px;
  overflow: hidden;
  margin-bottom: 3px;
}

#edit-rsrc-container,
#create-rsrc-container,
#view-rsrc-container {
  border: 1px solid rgba(16, 86, 82, 0.4);
  border-radius: 5px;
  box-shadow: rgba(16, 86, 82, 0.5) 1px 1px 3px 1px;
}

#category,
#title,
#name,
#addFields,
#addFieldbtn {
  border: 1px solid #62626268 !important;
  border-radius: 3px;
  padding: 5px;
}

#category:hover,
#title:hover,
#name:hover,
#addFields:hover,
#addFieldbtn:hover {
  box-shadow: rgba(16, 86, 82, 0.5) 1px 1px 3px 1px;
  transition: ease-in-out 0.2s;
  transform: scale(1.01);
}

#category:focus,
#title:focus,
#name:focus,
#addFields:focus,
#addFieldbtn:focus {
  box-shadow: rgba(16, 86, 82, 0.5) 1px 1px 3px 1px;
}

#addFieldbtn {
  padding-bottom: 5px;
}
#selectedImagesContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 60px;
  max-width: 100%;
}

#selectedImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selectedImages > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}

#selectedImages > button {
  background-color: #c74a44;
  color: #fffaec;
  border: none;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
}

.resource-content-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resource-content-img img {
  width: 250px;
  height: auto;
}

@media (max-width: 768px) {
  .created-resource .gallery-thumbnail {
    width: 30%;
    height: 30%;
    margin-left: 8px;
  }
  .created-resource .video-thumbnail {
    width: 30%;
    height: 30%;
  }
  .created-resource .lightgallery {
    background-color: #c74a44;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .resources-category-text{
    margin-left: 20px;
  }
}
