.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.158); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 
}

.spinner {
  border: 9px solid rgba(0, 0, 0, 0.1); 
  border-top: 9px solid #28a745; 
  border-radius: 50%;
  width: 70px; 
  height: 70px; 
  animation: spin 0.8s linear infinite; 
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
