/* * {
    border: 1px solid red;
} */

.custom-login {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.custom-login::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 49%;
    height: 98%;
    background: #0B3A07;
    border-radius: 0 0 100% 0;
    z-index: -1;
}

.custom-login::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    z-index: -1;
}

.card {
    border: none;
    background-color: #00000000;
}

input {
    background-color: #EFEFEF;
    border: 1.5px solid #D9D9D9;
    color: #000000;

}

input#username , input#password{
    border-radius: 4px;
    background: #fbfbfb !important;
    border-color: #e3e3e3 ;
    color: #6b6b6b ;
    font-size: 14px;
}
:focus {
    outline: none;
    border-color: #9f9f9f !important;
}
.custom-login h2 {
    position: initial;
    font-size:  clamp(28px, 2vw , 2vw)!important;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 42px !important;
    color: #454545;
}
.custom-login h1 {
    position: initial;
    font-size: 3vw;
    margin-top: 111px;
    animation: dropBounce 1s ease-out;

}

.custom-login .bg-image img {
    width: 76%;
}

.custom-login .bg-image {
    position: relative;
    display: flex;
    bottom:0;
    left: 0;
    animation: slideInLeft 0.7s ease-in-out 0.5s;
    animation-fill-mode: both;
    flex-direction: row;
    justify-content: center;
}
input[type=checkbox]#showPassword:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -1px;
    left: -1px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    padding: 1px;
    background-color: #FFFFFF;
}

input[type=checkbox]#showPassword:checked:before {
    background-color: #2780ff;
  }
  
  input[type=checkbox]#showPassword:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 5px;
  }
#showPassword {
    position: relative;
    width: auto;
    height: fit-content;    
}

label {
    font-size: 20px;
}
form label{
    color: #626262;
    font-size: 14px !important;
    font-weight: 300;
}


.custom-btn {
    background-color: #0B3A07;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 64px;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 15px !important;
    border: none !important;
}

.custom-btn:hover {
    background-color: #AEBE44;
    font-weight: 400;

}

.header-title {
    color: #FFFFFF;
    text-align: center;
}
.form-group.group-field-password a.float-end {
    font-size: 14px;
}
@keyframes dropBounce {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 1;
        transform: translateY(20px);
    }

    70% {
        transform: translateY(-15px);
    }

    85% {
        transform: translateY(10px);
    }

    95% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.col-md-6 .card {
    animation: slideInRight .7s ease-in-out;
    animation-fill-mode: both;
}

.header-title h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px !important;
    animation: dropBounce 1s ease-out;
}

.bg-image {
    position: relative;
    bottom: -80px;
    left: 80px;
    animation: slideInLeft 0.7s ease-in-out 0.5s;
    animation-fill-mode: both;
}


.custom-login select {
    height: auto;
    width: auto;
    padding: 5px 20px 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 0 !important;
    background-color: #FFFFFF !important;
    color: #626262;
    outline: none;
    box-shadow: none !important;
    font-size: 14px !important;
    text-align: left;
    direction: ltr;
    text-transform: uppercase;

    option {
        font-size: 14px;
    }
}
.alert.alert-danger {
    border-radius: 4px;
    border-color: #ffbdc9;
    color: #363636;
    padding: 9px 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.close-quick-alert {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
     width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-color: #ff6262;
    padding: 10px;
    background-size: 12px;
    background-position: center;
    border-radius: 4px;
    align-self: center;
}
@media (max-width: 992px) {
    .custom-login {
        height: auto;
        padding: 0 !important;

    }
  .custom-login .custom-col {
        display: none !important;
    }
    /* Remove background styling on mobile */
    .custom-login::before {
        display: none; /* Hide the before pseudo-element */
    }

    /* Hide the image on mobile */
    .custom-login .bg-image {
        display: none!important; /* Hide the background image */
    }

    .custom-login  .header-title h3 {
        font-size: 28px;
        top: 0;
    }

    .custom-login .col-md-6 {
        display: flex;
        justify-content: center;
    }

    .custom-login .col-lg-6, .custom-login .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 !important;
    }

    .custom-login  .card {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .custom-login .custom-btn {
        width: 100%;
        height: 45px;
        font-size: 18px;
    }

    .custom-login  label, input, .form-control-lg, .form-control-sm, .custom-login select {
        font-size: 16px;
        width: 100%;
    }

    .custom-login .form-group {
        margin-bottom: 15px;
    }
    .custom-login  .form-group.group-field-password {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .custom-login .form-group.group-field-password label[for="showPassword"] {
        width: 60%;
        margin-bottom: 3px;
        margin-left: 7px;
    }
}
@media (max-width: 426px) {
  .custom-login .login-form-wrap{
        width: 100%!important;
    }
    .custom-login::before {
      display: none; /* Hide the before pseudo-element */
  }
}