/* * {
    border: 1px solid red;
} */

.custom-login {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.custom-login::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 120%;
    background: #0B3A07;
    border-radius: 0 0 100% 0;
    z-index: -1;
}

.custom-login::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    z-index: -1;
}

.card {
    border: none;
    background-color: #00000000;
}

input {
    background-color: #EFEFEF;
    border: 1.5px solid #D9D9D9;
    color: #000000;

}

label {
    font-size: 20px;
}

.custom-btn {
    background-color: #0ABAA6;
    height: 50px;
    width: 180px;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 20px;
    border-color: #0ABAA6;
    text-transform: capitalize;
    margin-top: 30px !important;
}
.custom-btn:hover {
    background-color: #0fa896;
    /* color: #000000; */
    border-color: #0ABAA6;
}



.header-title {
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 100px;

}


.bg-image {
    position: relative;
    bottom: -80px;
    left: 80px;
}

.custom-login select {
    height: 28px !important;
    width: 80px !important;
    padding: 0 !important;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    margin-bottom: 0 !important;
    background-color: #FFFFFF !important;
    color: #626262;
}