:root {
  --lime50: #f9fbe7;
  --lime100: #f0f4c3;
  --lime200: #e6ee9c;
  --lime300: #dce775;
  --lime400: #d4e157;
  --lime500: #cddc39;
  --lime600: #c0ca33;
  --lime700: #afb42b;
  --lime800: #9e9d24;
  --lime900: #827717;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Outfit Variable", sans-serif;
}

section.panel {
  padding-top: 92px;
}

a.MuiButton-root,
button.MuiButton-root {
  text-transform: capitalize;
}

h1.MuiTypography-root.section-title,
p.MuiTypography-root.section-title {
  margin-bottom: 16px;
  font-size: 1.8rem;
}

p.MuiTypography-root.section-heading {
  font-size: 1.4rem;
}

select.filter {
  margin-right: 8px;
  padding: 8px;
  border-radius: 8px;
}

input.search-bar {
  padding: 8px;
  border-radius: 8px;
}

.MuiModal-root {
  .modal-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;

    &-sm {
      width: 256px;
    }

    &-md {
      width: 512px;
    }

    &-lg {
      width: 1024px;
    }

    .modal-header {
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(0,0,0,0.2);

      .MuiTypography-root {
        font-size: 1.2rem;
      }
    }

    .modal-body {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .modal-footer {
      padding-top: 16px;
    }
  }
}

@media (min-width: 992px) {
  section.panel {
    padding-left: 256px;
  }
}
