.add-user-btn {
  background-color: #105652;
  color: #FFFFFF;
  border-radius: 5px;
  border: none !important;
  padding: 7px 20px; 
  font-size: 14px;
}

.manage-ticket-btn {
  background-color: #105652 !important;
  border-color: #105652 !important;
  justify-content: center !important;
  display: flex !important;
  width: auto;
  position: absolute;
  right: 50px;
  top: 15px;
}
.manage-ticket-btn-2 {
  background-color: #105652 !important;
  border-color: #105652 !important;
  justify-content: center !important;
  display: flex !important;
  width: auto;
  position: absolute;
  right: 300px;
  top: 15px;
}
.manage-ticket-btn:hover {
  background-color: #87a79e ;
  border-color: #87a79e ;
  font-weight: 400;
}

.top-filter #filter {
  border: none ;
  border-radius: 3px ;
  color: #626262 ;
  cursor: pointer;
  border: 1px solid #dfdfdf ;
  margin-right: 6px;
}
#search-bar {
  padding: 7px 20px;
  border: none;
  border-radius: 3px;
  color: #626262;
  cursor: text;
  border: 1px solid #dfdfdf;
  background-color: #fffaeb;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 2px;
}
.title-page{
  margin-bottom: 50px;
}
.container {
  border-radius: 13px;
  padding: 2rem 2rem 2rem 2rem;
  height: auto;
  margin-left: 7.8rem;
  margin-top: 6rem ;
  margin-bottom: 20px !important;
}
.dataTables_wrapper .rdt_TableHead .rdt_TableHeadRow {
  background-color: #fff8e2; /* changed */
  border-radius: 10px;
  margin-bottom: 6px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #101720;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
span.user-email-row {
  color: #a7a7a7;
  font-size: 12px;
  margin-top: 2px;
}
.iGxMlw{
  border-bottom-color: rgb(191 191 191 / 12%)!important;
}
.kqWIVd {
  border-top: 0!important;
  justify-content: flex-start!important;   
  margin-top: 40px; 
}
.fceIjj {
  border-top: 0!important;
  justify-content: flex-start!important;   
  margin-top: 40px; 
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  padding: 5px;
  /* text-align: center; */
  flex-wrap: nowrap;
}
.profile-image {
  background: #73c3f9;
  border-radius: 5px;
}
.profile-image  img {
  width: 152px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 15px;
}
.profile-container .user-details {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: left;
  font-size: 15px;
      gap: 2px 52px;
}
.profile-container p{
  font-size: 14px;
}
.profile-container h2{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;

}
